node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.*

.screen.*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# HAR captures
*.har

# Claude
.claude
